[Unit]
Description=Node-RED Service with docker-compose
Requires=docker.service

[Service]
Type=simple

Environment=COMPOSE_FILE=/opt/node-red/docker-compose.yml
Environment=CONTAINER_NAME=node-red

ExecStartPre=-/usr/local/bin/docker-compose -f ${COMPOSE_FILE} down
ExecStart=/usr/local/bin/docker-compose -f ${COMPOSE_FILE} up
ExecStop=/usr/local/bin/docker-compose -f ${COMPOSE_FILE} down

[Install]
WantedBy=multi-user.target
